<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block header_content %}
        <meta name="description" content="">
        <meta name="author" content="{{ author }}">
        <link rel="icon" href="favicon.ico">
        <title>{{ appname }}</title>

    {% endblock %}
    {#Bootstrap  CSS#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">

    {# Bootstrap core JavaScript#}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>

    {% block styles %}
        
    {% endblock %}

</head>

<body>

{% block navigation %}

    <nav class="navbar navbar-expand-md navbar-light bg-primary">
        <a class="navbar-brand" href="#">{{ appname }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#nav" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productType">Product Type</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sale">Sell</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

<div id="jsalert"></div>

{% if (session['alert']['type']|trim|length > 0) %}
    <div class="alert alert-{{session['alert']['type']}} alert-dismissible fade show " role="alert">
        {{session['alert']['message']}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}



<div class="container">

    {% block content %}
            <div class="text-center mt-4">
                No content added
            </div>
    {% endblock %}
</div>


<!-- Modal -->
<div class="modal fade" id="modal-confirmdelete" tabindex="-1" role="dialog" aria-labelledby="modal-confirmdeleteLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-confirmdeleteLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-confirmdeleteContent">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeButton">Close</button>
        <button type="button" class="btn btn-primary" data-valueid=""  id="confirmdeleteButton" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>




<script>
    $(".alert").delay(4000).slideUp(200, function() {
        $(this).alert('close');
    });
    function showAlert($alert){

        $('#jsalert').html(`
                <div class="alert alert-${$alert.type} alert-dismissible fade show" role="alert">
                <span id="alert-message">${$alert.message}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
        `);  
        
        $(".alert").delay(4000).slideUp(200, function() {
            $(this).alert('close');
            location.reload();
        });
    }
    function truncateDecimal(number, decimals) {
        if (isNaN(number) || isNaN(decimals) || decimals < 0) {
            return null;
        }

        const truncatedNumber = parseFloat(number.toFixed(decimals));
        return truncatedNumber;
    }

</script>
{% block scripts %}
{% endblock %}
</body>
</html>